.modal {
  display: flex;
  align-items: flex-end;
}

.container {
  height: 280px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffff;

  .header {
    height: 56px;

    padding: 18px 16px 17px;

    .text {
      font-size: 14px;
      font-weight: 600;
      color: #130F26;
    }

    .closeIcon {
      width: 24px;
      height: 24px;

      color: #898793;
    }
  }

  .dueDate {
    padding-top: 24px;
    padding-left: 15px;

    .calendarIcon {
      width: 24px;
      height: 24px;
      margin-right: 10.5px
    }

    .dateText {
      font-size: 14px;
      color: #130F26;
    }
  }

  .button {
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
  }

  .cancelButton {
    color: #130F26;
    border: 2px solid #130F26;
  }

  .createButton {
    background-color: #114BC2;
  }
}