.project {
  height: 42px;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 8px 20px 8px 8px;

  background-color: #ffffff;

  .text {
    margin-top: 4px;

    color: #130F26;
    line-height: 18px;
  }

  .image {
    padding-right: 15px;
  }
}